@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    /* at the beginning, it's invisible */
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: Lato, sans-serif; }

#header {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #222831;
  height: 6rem;
  color: #000; }
  #header .row {
    max-width: 114rem;
    background-color: #00adb5;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    border: 0.3rem solid #000; }
    #header .row::after {
      content: "";
      display: table;
      clear: both; }
    #header .row [class^="col-"] {
      float: left; }
      #header .row [class^="col-"]:not(:last-child) {
        margin-right: 6rem; }
    #header .row .col-1-of-2 {
      width: calc((100% - 6rem) / 2); }
      #header .row .col-1-of-2 #header-img {
        display: inline-block;
        padding-left: 1rem;
        height: 4rem; }
      #header .row .col-1-of-2 a {
        color: #000;
        text-decoration: none;
        font-weight: 700; }

#nav-bar {
  float: right;
  padding-right: 1rem; }

.container {
  max-width: 114rem;
  margin: 0 auto;
  border-left: 0.3rem solid #000;
  border-right: 0.3rem solid #000;
  border-bottom: 0.3rem solid #000;
  background-color: #eeeeee; }
  .container .heading {
    padding: 5rem 2rem;
    text-align: center; }
  .container .heading-primary {
    margin-top: 5rem;
    animation: moveInLeft 1s ease-out; }
  .container .heading-primary::after {
    content: '';
    display: block;
    height: .4rem;
    width: 7.2rem;
    margin: 2rem auto;
    background-color: #000; }
  .container .heading-secondary {
    font-size: 3.6rem;
    animation: moveInRight 1s ease-out; }

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem; }
  .features .feature .fas {
    font-size: 3rem;
    color: #00adb5; }
  .features .feature:not(:last-child) {
    padding-bottom: 5rem; }
  .features .feature .feature-header {
    padding-top: 1rem; }
