* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.2rem; }

#header {
  background-color: orange;
  height: 6rem; }
  #header .row {
    max-width: 114rem;
    background: #eee;
    margin: 0 auto; }
  #header::after {
    content: "";
    display: table;
    clear: both; }
  #header [class^="col-"] {
    float: left; }
    #header [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  #header .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
