// navbar always at the top of the viewport
// at least one media query
// at least once css flexbox

@import "animations.scss";

// length variables

$grid-width: 114rem;
$gutter-horizontal: 6rem;
$main-focus-padding: 5rem 2rem;


// colors

$color-navigation-primary: #222831;
$color-navigation-secondary: #00adb5;
$color-navigation-text: #000;
$color-main-section: #eeeeee;

// tipography

$main-border: .3rem solid $color-navigation-text;

// mixins

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Lato, sans-serif;
}


#header {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: $color-navigation-primary;
    height: 6rem;
    color: $color-navigation-text;
    .row {
        max-width: $grid-width;
        background-color: $color-navigation-secondary;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        border: $main-border;

        @include clearfix;

        [class^="col-"] {
            float: left;
            &:not(:last-child) {
                margin-right: $gutter-horizontal;
            }
        }

        .col-1-of-2 {
            width: calc((100% - #{$gutter-horizontal}) / 2);
            #header-img {
                display: inline-block;
                padding-left: 1rem;
                height: 4rem;
            }

            a {
                color: $color-navigation-text;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
}

#nav-bar {
    float: right;
    padding-right: 1rem;
}

.container {
    max-width: $grid-width;
    margin: 0 auto;
    border-left: $main-border;
    border-right: $main-border;
    border-bottom: $main-border;
    background-color: $color-main-section;

    .heading {
        padding: $main-focus-padding;
        text-align: center;
    }

    .heading-primary {
        margin-top: 5rem;
        animation: moveInLeft 1s ease-out;
    }

    .heading-primary::after {
        content: '';
        display: block;
        height: .4rem;
        width: 7.2rem;
        margin: 2rem auto;
        background-color: $color-navigation-text;
    }
    
    .heading-secondary {
        font-size: 3.6rem;
        animation: moveInRight 1s ease-out;
    }
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $main-focus-padding;

    .feature {
        .fas {
            font-size: 3rem;
            color: $color-navigation-secondary;
        }

        &:not(:last-child) {
            padding-bottom: 5rem;
        }

        .feature-header {
            padding-top: 1rem;
        }
    }
}




