// navbar always at the top of the viewport done
// at least one media query
// at least once css flexbox done

@import "animations";
@import "breakpoints";

// length variables

$grid-width: 114rem;
$gutter-horizontal: 6rem;
$main-focus-padding: 5rem 2rem;
$common-padding: 2rem 4rem;


// colors

$color-navigation-primary: #222831;
$color-navigation-secondary: #00adb5;
$color-pricing-primary: #393e46;
$color-navigation-text: #000;
$color-sections: #eee;

// tipography

$main-border: .3rem solid $color-navigation-text;
$main-font-size: 1.6rem;

// mixins

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin content-center {
   & {
       width: $grid-width;
       margin: 0 auto;
       text-align: center;
   } 
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $main-font-size;
    font-family: Lato, sans-serif;
}


#header {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: $color-navigation-primary;
    height: 6rem;
    color: $color-navigation-text;
    .row {
        max-width: $grid-width;
        background-color: $color-navigation-secondary;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        border: $main-border;

        @include clearfix;

        [class^="col-"] {
            float: left;
            &:not(:last-child) {
                margin-right: $gutter-horizontal;
            }
        }

        .col-1-of-2 {
            width: calc((100% - #{$gutter-horizontal}) / 2);

            #header-img {
                display: inline-block;
                padding-left: 1rem;
                height: 4rem;
            }

            .nav-link {
                color: $color-navigation-text;
                text-decoration: none;
                font-weight: 700;
            }

            #nav-bar {
                float: right;
                padding-right: 1rem;
            }
        }
    }
}
#main-focus {
    .container {
        max-width: $grid-width;
        margin: 0 auto;
        background-color: $color-sections;
    
        .heading {
            padding: $main-focus-padding;
            text-align: center;
        }
    
        .heading-primary {
            margin-top: 5rem;
            animation: moveInLeft 1s ease-out;
        }
    
        .heading-primary::after {
            content: '';
            display: block;
            height: .4rem;
            width: 7.2rem;
            margin: 2rem auto;
            background-color: $color-navigation-text;
        }
        
        .heading-secondary {
            font-size: 3.6rem;
            animation: moveInRight 1s ease-out;
        }

        .features {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $main-focus-padding;
        
            .feature {
                .fas {
                    font-size: 3rem;
                    color: $color-navigation-secondary;
                }
        
                &:not(:last-child) {
                    padding-bottom: 5rem;
                }
        
                .feature-header {
                    padding-top: 1rem;
                }
            }
        }
    }
}

#pricing {

    .row {
        width: $grid-width;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: $common-padding;
        background-color: $color-sections;

        .card {
            border: $main-border;
            display: inline-block;
            text-align: center;
            padding: 6rem 4rem;
            margin-bottom: 4rem;

            &-header {
                margin-top: 2rem;
                padding: $common-padding;
                font-size: 2.4rem;
                font-weight: 700;
            }

            &:not(:last-child) {
                margin-right: 2rem;
            }

            &-paragraph {
                padding-bottom: 4rem;
            }

            .card-btn {
                &:link, &:visited {
                    text-decoration: none;
                    text-transform: uppercase;
                    background-color: $color-pricing-primary;
                    color: $color-sections;
                    padding: 1.5rem 4rem;
                    margin-bottom: 2rem;
                }
            } 
        }
    }
}

#how-it-works {
    background-color: $color-sections;

    @include content-center;

    .container {
        h2 {
            padding: $common-padding;
        }
    }
}

#video {
    border: 0;
    padding-bottom: 2rem;
}

#form-section {
    
    @include content-center;

    .container {
        background-color: $color-sections;
        padding-bottom: 10rem;
    }

    #submit {
        height: 3rem;
        width: 100%;
        max-width: 15rem;
        padding: 0 2rem;
        margin-left: 2rem;
        background-color: $color-navigation-secondary;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        border-radius: 2px;

        border: $main-border;
        cursor: pointer;
    }
}
