// navbar always at the top of the viewport
// at least one media query
// at least once css flexbox

//variables

$grid-width: 114rem;
$gutter-horizontal: 6rem; 


//mixins

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
}


#header {
    background-color: orange;
    height: 6rem;

    .row {
        max-width: $grid-width;
        background: #eee;
        margin: 0 auto;
    }

    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

}


#header {
}